# Flask и зависимости для веб-приложения
Flask==3.0.3
Werkzeug==3.0.1

# В будущем могут понадобиться:
# python-dotenv==1.0.1  # для управления .env-файлами
# pytest==8.2.0         # для написания тестов
# flask-login==0.6.3    # для полноценной авторизации
# flask-sqlalchemy==3.1.1  # для работы с БД

